@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles for webkit browsers */
::-webkit-scrollbar {
    width: 8px;
    /* Thin scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track color */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Thumb color */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Thumb color on hover */
}